:root {
  --red: #cc4233;
  --gray: #a3a3a3;
}

ul {
  list-style-type: none;
}

.header-bg {
  background-color: var(--red);
}

.text-space {
  padding-left: 5px;
  margin-left: 5px;
}

.m-layout {
  background: url(Image/main.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.m-form {
  width: 1000px;
  opacity: 0.7;
}

.search-img {
  width: 90px;
}

.article-img {
  width: 15vw;
  height: 28vh;
}
