:root {
  --red: #cc4233;
  --black: #2e2c2c;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.header-bg {
  background-color: var(--red);
}

.text-space {
  padding-left: 5px;
  margin-left: 5px;
}

.m-layout {
  background: url(Image/main.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.gateway {
  width: 70%;
}

.m-form {
  opacity: 0.7;
}

.search-img {
  width: 90px;
}

.footer {
  background-color: var(--black);
}

.footer-logo {
  height: 90px;
  width: 120px;
}

@media screen and (max-width: 480px) {
  .gateway {
    width: 90%;
  }
}
